<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
   </head>
   <body>
      
      <form action="/authenticate" method="POST">
      <div class="login">
      <div class="login-screen">
      <div class="app-title">
         <h1>Login</h1>
      </div>
      <div class="login-form">
      <div class="control-group">
         <input type="Username" class="login-field" name="username" placeholder="Username">
      <label class="login-field-icon fui-user" for="login-name"></label></div>
      <div class="control-group">
         <input type="Password" class="login-field" name="password" placeholder="Password">
      <label class="login-field-icon fui-lock" for="login-pass"></label></div>
      <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block"> 
      </div>
      </div>
      </div>
      </form>
      
   </body>
</html>
